<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Sobre mi</h1>
    <a href="../index.html"> ir a casa </a>
    <br>
     <a href="../Contacto.html"> ir a Contacto </a>
     <br>
    <p>
      Hola, soy Jose, un proximo ingeniero en desarrollo de software. Me gusta programar y aprender nuevas tecnologias.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente laboriosam dolor maiores. Nisi quod sed quo odit, velit autem, odio, possimus et asperiores distinctio voluptate deleniti delectus necessitatibus. Facilis, adipisci!

    </p>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente laboriosam dolor maiores. Nisi quod sed quo odit, velit autem, odio, possimus et asperiores distinctio voluptate deleniti delectus necessitatibus. Facilis, adipisci!
      
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente laboriosam dolor maiores. Nisi quod sed quo odit, velit autem, odio, possimus et asperiores distinctio voluptate deleniti delectus necessitatibus. Facilis, adipisci!
      
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente laboriosam dolor maiores. Nisi quod sed quo odit, velit autem, odio, possimus et asperiores distinctio voluptate deleniti delectus necessitatibus. Facilis, adipisci!
      
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente laboriosam dolor maiores. Nisi quod sed quo odit, velit autem, odio, possimus et asperiores distinctio voluptate deleniti delectus necessitatibus. Facilis, adipisci!
      
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente laboriosam dolor maiores. Nisi quod sed quo odit, velit autem, odio, possimus et asperiores distinctio voluptate deleniti delectus necessitatibus. Facilis, adipisci!
      
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente laboriosam dolor maiores. Nisi quod sed quo odit, velit autem, odio, possimus et asperiores distinctio voluptate deleniti delectus necessitatibus. Facilis, adipis
  </body>
   